<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>捞腌菜</title>
    <link href="/static/lib/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div style="width: 800px; margin: auto;">
      <div style="width: 200px; margin: auto;">
        <div>
          <h1>创建房间</h1>
          <form style="margin-top: 40px;" action="/" method="POST" role="form">
            <div class="form-group">
              <label for="username">昵称</label>
              <input type="text" id="username" name="username">
              <input style="margin-top: 20px;" type="submit" class="btn btn-block btn-primary" value="创建"/>
            </div>
          </form>
        </div>
        <div style="margin-top: 50px;">
          <b>当前准备中的房间:</b>
          <ul>
            <% rooms.forEach(function(room) { %>
            <li><a href="/room/<%= room.id %>">进入</a>  由<%= room.name %>创建。 当前<%= room.num %>人</li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
